@import url(https://fonts.googleapis.com/css?family=Montserrat);

$bg-color: #9B9B9B;
$color-primary: #505050;
$color-secondary: #E2E2E2;
$main-font: ;

html {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
}
