@import url(https://fonts.googleapis.com/css?family=Montserrat);

$bg-color: #f2f2f2;
$color-primary: #505050;
$color-secondary: #E2E2E2;

::-webkit-scrollbar, ::-moz-scrollbar {
    display: none;
}

body,html{
  margin:0;padding:0;
  overflow: hidden;
  width: 100%;
  font-family: 'Barlow', 'Montserrat', Arial, sans-serif;
  h1{
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) *
  ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-weight: normal;
    color: black;
    letter-spacing: 0.055em;
    text-align: center;
  }
}

.navbar{
  padding-left: 3.25%;
  height: 65px;
}

.nav-item{
  font-size: 1.3em;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.banner-logo{
  height: 50px;
}

/* Main-landing area ----*/
.logo{
  padding-top: 100px;
  padding-left: 20px;
  max-height: 400px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.award{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.down-arrow{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


div.hidden {  /* Used in jQuery logo/icon fadeIn*/
  display:none;
}

/* Parallax Features ----------- */
.wrapper {
  /* This div acts as the viewer's screen (100vh) allowing underlying div's to move underneath*/
    height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
    /* The perspective defines the rate of movement of parallax images.*/
  perspective: 2px;
}

.section {
  /* children to the .wrapper div allowing each section to be relativew to the parent */
  position: relative;
  /* The height of the container.*/
  height: 60vh;
  margin: auto;
  width: 93.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 90%;
  /* personal choice - can be 100%, must be high for parallax to occur*/

  transform: translateZ(-1px) scale(1.5);
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */

  z-index: -1;
  overflow-x: hidden;
  /* Keep the image from overlapping sibling elements. */
}

/* The styling for the static div. */
.static {
  background: white;
  height: 130px;
}

.top{ /* Primary landing banner (requires a smaller height than the other .section children without offsetting the image dimensions)*/
  margin-top: -25vh;
  height: 80vh;
}

.break{ /* short breaker underneath the landing banner */
  height: 80px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  width:500px;
   height: 200px;
   width: 90%;
   margin: 0 auto 80px;
   color: black;
}

.contact-header{
   font-size: 3.2em;
   line-height: 0.5em;
   text-decoration: underline;
   padding-top: 30px;
 }

.contact-details{
  font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) *
((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
   text-align: center;
   margin: 0 30px;
}

.icons{
   display: inline-flex;
   list-style-type: none;
        .icon{
        width: 90px;
        margin: 0 10px;
 }
}

/* background images */
.bg1::after {
  background-image: url("img/background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg2::after {
  background-image: url("img/background1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}

.bg3::after {
  background-image: url("img/background3.jpg");
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: cover;
}

.bg4::after {
  background-image: url("img/background4.jpg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
}

.bg5::after {
  background-image: url("img/background5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg6::after {
  background-image: url("img/background6.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: cover;
}
